:root{
    --gray: #6c757d;
    --gray-dark: #252323;
    --orange: #f78c26;
    --orange-dark: #fd7e14;
    --sky-blue: #1f9bde;
    --sky-blue-dark: #0D87C9;
    --red-danger: #dc3545;
    --red-dark: #CB1729;
    --green-success: #64de14; 
    --green-dark: #51C106;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

/* Landing Page */
.bg-dark{
    background-color: var(--gray-dark);
}

div {
    display: block;
    unicode-bidi: isolate;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.navbar .nav-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 80px;
    margin-right: auto;
    margin-left: auto;
}

.logo-nav{
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.btn-nav{
    border: none;
    border-radius: .25rem;
    padding: 12px 32px;
    margin: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.btn-nav.login{
    background-color: var(--sky-blue);
}

.btn-nav.signup{
    background-color: var(--orange);
}

.btn-nav.login:hover {
    background-color: var(--sky-blue-dark);
    cursor: pointer;
}

.btn-nav.signup:hover {
    background-color: var(--orange-dark);
    cursor: pointer;
}

.before-content{
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.content-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

h2{
    font-size: 48px;
    display: block;
    font-weight: bold;
    unicode-bidi: isolate;
}

.text-center {
    text-align: center !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.offset-4 {
    margin-left: 33.3333333333%;
}

.col-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}

.separator {
    border-width: 3px;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.border-info {
    border-color: var(--sky-blue);
}

.pt-3, .py-3 {
    padding-top: 1rem !important;
}

.course-card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin: 12px;
}

.card-img-top {
    width: 100%;     
    height: 150px;         
    object-fit: cover;      
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.card-icon {
    width: 52%;        
    height: 52%;        
    object-fit: contain;    
    margin: 4px auto;     
    display: block;        
}

span{
    padding-bottom: 16px;
}

/* Login and Sign-up Page */
.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--gray-dark);
    padding:20px
}

.login-card, .signup-card {
    background: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.logo {
    width: 120px;
    margin-bottom: 10px;
    
}

.welcome {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

.subtitle {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    font-weight: 500;
    margin: 10px 0 0;
    font-size: 16px;
    color: #333;
}

input[type="username"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin: 10px 0;
}

.btn-primary {
    background-color: var(--sky-blue);
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-primary:hover{
    background-color: var(--sky-blue-dark);
    cursor: pointer;
}

.divider {
    margin: 20px 0;
    font-size: 12px;
    color: #999;
}

.signup {
    margin-top: 20px;
    font-size: 16px;
}

.signup a {
    color: var(--orange);
    text-decoration: none;
}

.signup a:hover{
    color: var(--sky-blue-dark);
    cursor: pointer;
}

/* Logout Landing Page and Error Pages */
.msg-container, .error-container {
    text-align: center;
    margin-top: 100px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.msg-title, .error-title{
    font-size: 48px;
    margin-bottom: 32px;
}

.msg-title{
    color: var(--green-success);
}

.error-title {
    color: var(--gray-dark);
}

.logout-message, .error-message {
    font-size: 20px;
    color: var(--gray-dark);
    margin-bottom: 20px;
}

.logout-button, .error-button {
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button, .error-button {
    background-color: var(--red-danger);
}

.logout-button:hover, .error-button:hover {
    background-color: var(--red-dark);
}



/* Responsive Pages*/
@media (min-width: 1200px) {
    .content-container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .justify-content-lg-center {
        justify-content: center !important;
    }
    
    .course-card{
        margin-bottom: 0 !important;
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%;
    }
}