<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LearnerCourseServlet</servlet-name>
        <servlet-class>LearnerCourseServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>1527</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UsersDB</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>LearnerCourseServlet</servlet-name>
        <url-pattern>/LearnerCourseServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!--ERROR PAGES-->
    <error-page>
        <error-code>404</error-code>
        <location>/view/error/error_404.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/view/error/error_403.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/view/error/error_500.jsp</location>
    </error-page>
</web-app>
