<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>DB_URL</param-name>
        <param-value>jdbc:derby://localhost:1527/UsersDB</param-value>
    </context-param>
    <context-param>
        <param-name>DB_USERNAME</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>DB_PASSWORD</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>DB_DRIVER</param-name>
        <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
    </context-param>
    <servlet>
        <servlet-name>error_404</servlet-name>
        <servlet-class>error_404</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Control.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserServlet</servlet-name>
        <servlet-class>Control.CreateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserServlet</servlet-name>
        <url-pattern>/CreateUserServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>model.InvalidCredentialsException</exception-type>
        <location>/view/error_401.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/view/error_404.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/view/error_403.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/view/error_500.jsp</location>
    </error-page>
    <error-page>
        <exception-type>model.SessionExpiredException</exception-type>
        <location>/view/error_session_timeout.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/view/error_general.jsp</location>
    </error-page>
</web-app>
