:root{
    --gray: #6c757d;
    --gray-dark: #252323;
    --orange: #f78c26;
    --orange-dark: #fd7e14;
    --sky-blue: #1f9bde;
    --sky-blue-dark: #0D87C9;
    --red-danger: #dc3545;
    --red-dark: #CB1729;
    --green-success: #64de14; 
    --green-dark: #51C106;
    --light: #f8f9fa;
    
    /* Random Colors */
    --color-a: #FFD3B6; 
    --color-b: #D4E6B5; 
    --color-c: #AFCBFF; 
    --color-d: #FFAAA7; 
    --color-e: #DCB6D5; 
    --color-f: #B5EAD7; 

    /* Matching borders */
    --border-a: #E8BFA0;
    --border-b: #C4D6A5;
    --border-c: #9FBBF0;
    --border-d: #E89A97;
    --border-e: #CCA6C5;
    --border-f: #A5D6C7;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

/* Landing Page */
img {
    max-width: 100%;
    height: auto;
}

/* Navigation Styles */
.bg-dark{
    background-color: var(--gray-dark);
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.navbar .nav-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 80px;
    margin: 0 auto;
    transition: padding 0.3s ease;
}

.logo-nav{
    display: inline-block;
    padding: .3125rem 0;
    margin-right: 1rem;
    max-width: 180px;
    height: auto;
}

.btn-nav{
    border: none;
    border-radius: .25rem;
    padding: 12px 32px;
    margin: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-nav.login{
    background-color: var(--sky-blue);
}

.btn-nav.signup{
    background-color: var(--orange);
}

.btn-nav.login:hover {
    background-color: var(--sky-blue-dark);
    cursor: pointer;
}

.btn-nav.signup:hover {
    background-color: var(--orange-dark);
    cursor: pointer;
}

/* Main Content Styles */
.before-content{
    padding: 2rem 0 1rem;
}

.content-container{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

h2{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.separator {
    border: 0;
    border-top: 3px solid var(--sky-blue);
    margin: 2rem auto;
    width: 33.33%;
}

/* Course Cards Styles */
#course-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.course-card{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    min-height: 200px;
    margin: 10px;
    transition: transform 0.3s ease;
    flex: 1 0 16.666%;
    max-width: 16.666%;
    animation: zoomIn 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.card-img-container {
    height: 160px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card-body {
    padding: 1rem;
    text-align: center;
}

.card-icon {
    width: 52%;
    height: 52%;
    object-fit: contain;
    margin: 4px auto;
}

.card-body span {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 16px;
}

/* Login and Sign-up Page */
.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://activelearning.ph/wp-content/themes/understrap-child/img/bg-banner.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(12px);
    z-index: 0;
}

.content-form {
    position: relative;
    z-index: 1;
}

.login-card, .signup-card {
    background: var(--gray-dark);
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
    color: white;
}

.logo {
    width: 120px;
    margin-bottom: 10px;

}

.welcome {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

.subtitle {
    font-size: 16px;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    font-weight: 500;
    margin: 10px 0 0;
    font-size: 16px;
}

input[type="username"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin: 10px 0;
}

.btn-primary {
    background-color: var(--sky-blue);
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-primary:hover{
    background-color: var(--sky-blue-dark);
    cursor: pointer;
}

.divider {
    margin: 20px 0;
    font-size: 12px;
}

.role-selection {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

.role-option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 400;
}

.g-recaptcha {
    display: flex;
    justify-content: center;
    margin: 16px 0;
}

.signup, .login-link{
    margin-top: 20px;
    font-size: 16px;
}

.signup a, .login-link a{
    color: var(--orange);
    text-decoration: none;
}

.signup a:hover, .login-link a:hover{
    color: var(--sky-blue-dark);
    cursor: pointer;
}

/* Logout Landing Page and Error Pages */
.error-body {
    position: relative;
    min-height: 100vh;
}

.error-body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://activelearning.ph/wp-content/themes/understrap-child/img/default-featured.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(12px);
    z-index: -1;
}

.error-container {
    background-color: rgba(255, 255, 255, 0.9);
}

.msg-container, .error-container {
    text-align: center;
    margin-top: 100px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.msg-title, .error-title{
    font-size: 48px;
    margin-bottom: 32px;
}

.msg-title{
    color: var(--green-success);
}

.error-title {
    color: var(--gray-dark);
}

.logout-message, .error-message {
    font-size: 20px;
    color: var(--gray-dark);
    margin-bottom: 20px;
}

.logout-button, .error-button {
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button, .error-button {
    background-color: var(--red-danger);
}

.logout-button:hover, .error-button:hover {
    background-color: var(--red-dark);
}

/* Site Layout */

.site_layout{
    display: grid;
    grid-template-columns: 0.75fr 3.25fr;
    grid-template-rows: minmax(100vh, auto);
    grid-template-areas:
        "block1 block2";
    font-size: 1em;
    min-height: 100vh; 
    height: auto; 
}

.site_layout_navbar{
    grid-area: block1;
    background-color: var(--gray-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 0 1em 1.5em 1em;
    min-height: 100vh; 
    height: auto; 
    position: sticky; 
}

.nav_profile, .nav_list, .nav_logout{
    display: flex;
    flex-direction: column;
}

.nav_profile{
    
}

.nav_profile img{
    object-fit: contain;
    width: 5em; 
    height: 5em;
}

.nav_list{
    gap: 1.25rem;
    margin: 2rem 0;
}

.nav_logout{
    margin-top: auto;
}

.nav_item{
    color: var(--gray);
    text-decoration: none;
    font-size: 1.5em;
}

.nav_item:hover{
    color: var(--light);
    text-decoration: underline;
    transition: 0.3s;
}

.site_layout_body{
    grid-area: block2;
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 100%;
}

.site_body_header_vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75em;
    width: 100%;
}

.site_body_header_horizontal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.75em;
    width: 100%;
}

.site_body_header_left{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.site_body_header_left h1{
    display: inline-flex;
    min-width: fit-content;
    font-size: clamp(2rem, 2vw, 2em); 
    white-space: nowrap;
}

.site_body_header_right{
    display: flex;
    width: 100%;
}

.site_logout_layout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    width: 100%;
    padding: 20%;
}

.btn-site-body-header{
    display: inline-flex;
    min-width: fit-content;
    width: 100%;
    height: 2em;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    color: white;
    border: none;
    border-radius: .25rem;
    font-weight: bold;
    font-size: clamp(1rem, 1.5vw, 1.5em); 
    white-space: nowrap;
    padding: 0 1em;
}

.btn-site-body-header:hover{
    cursor: pointer;
    background-color: var(--orange-dark);
    color: var(--light);
    transition: 0.3s;
}

.btn-site-body{
    display: inline-flex;
    min-width: fit-content;
    width: 50%;
    height: 2em;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    color: white;
    border: none;
    border-radius: .25rem;
    font-weight: bold;
    font-size: clamp(1rem, 1.5vw, 1.5em); 
    white-space: nowrap;
    padding: 0 1em;
}

.btn-site-body:hover{
    cursor: pointer;
    background-color: var(--orange-dark);
    color: var(--light);
    transition: 0.3s;
}

.btn-courses-box{
    display: inline-flex;
    min-width: fit-content;
    width: 100%;
    height: 1.5em;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-dark);
    color: white;
    border: none;
    border-radius: .25rem;
    font-weight: bold;
    font-size: clamp(1rem, 1.5vw, 1.5em);
    white-space: nowrap;
    padding: 0 1em;
    margin: 0.25em;
}

.btn-courses-box:hover{
    cursor: pointer;
}

/* COURSE BOXES */

.courses_box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color);
    border-color: var(--gray-dark);
    border-radius: 0.25em;
    padding: clamp(0.5rem, 0.5vw, 0.5em); 
}

.courses_box:hover {
  filter: brightness(1.05);
  box-shadow: 5px 10px 18px color-mix(in srgb, var(--border) 60%, transparent);
}

.courses_box:nth-child(5n+1) {
  --color: var(--color-a);
  --border: var(--border-a);
}
.courses_box:nth-child(5n+2) {
  --color: var(--color-b);
  --border: var(--border-b);
}
.courses_box:nth-child(5n+3) {
  --color: var(--color-c);
  --border: var(--border-c);
}
.courses_box:nth-child(5n+4) {
  --color: var(--color-d);
  --border: var(--border-d);
}
.courses_box:nth-child(5n+5) {
  --color: var(--color-e);
  --border: var(--border-e);
}
.courses_box:nth-child(10n),
.courses_box:nth-child(17n) { 
  --color: var(--color-f);
  --border: var(--border-f);
}

.profile_courses_box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid var(--gray-dark);
    border-radius: 0.25em;
    padding: clamp(0.5rem, 0.5vw, 0.5em); 
}

/* PAGES */
.instructor_database_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(1rem, 1.5vw, 1.5em); 
    padding: 1em;
}

.instructor_dashboard_layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.instructor_dashboard_main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
    width: 100%;
}

.learner_dashboard_layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.learner_dashboard_main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
    width: 100%;
}


.learner_courses_layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.learner_courses_main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
    width: 100%;
}

.profile_layout{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

.profile_account{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.5rem; 
    align-items: center;
    font-size: 1em;
    height: 100%;
    max-width: 100%; 
    margin: 0.5em 0;
}

.profile_account_left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_account_left img{
    width: auto;
    height: auto;
    max-width: 16em; 
    max-height: 16em;
    object-fit: contain; 
}

.profile_account_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: clamp(1rem, 1.5vw, 1.5em);
}

.profile_courses{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
    width: 100%;
}

/* TABLES */

.instructor_database_table{
    width: 100%;
    table-layout: fixed;
    border-spacing: 0.5em;
}

.instructor_database_table td{
    border: 2px solid var(--gray-dark);
    border-radius: 0.5em;
    padding: clamp(0.5rem, 0.5vw, 0.5em); 
    text-align: center;
}

.instructor_database_table td:hover{
    background-color: var(--orange);
    border-color: var(--orange);
    color: var(--light);
    transition: 0.2s;
}

.schedule_table{
    width: 100%;
    border-spacing: 0.5em;
}

.schedule_table th, tr, td{
    border: 2px solid var(--gray-dark);
    border-radius: 0.5em;
    padding: clamp(0.5rem, 0.5vw, 0.5em); 
    text-align: center;
}


/* Responsive Pages*/
@media (max-width: 1200px) {
    .content-container {
        max-width: 1140px;
    }

    .course-card {
        flex: 1 0 25%;
        max-width: 25%;
    }

    .navbar .nav-container {
        padding: 0 60px;
    }
}

@media (max-width: 992px) {
    h2 {
        font-size: 36px;
    }

    .navbar .nav-container {
        padding: 0 40px;
    }

    .course-card {
        flex: 1 0 33.333%;
        max-width: 33.333%;
    }

    .card-img-container {
        height: 130px;
    }

    .justify-content-lg-center {
        justify-content: center !important;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 28px;
    }

    .navbar .nav-container {
        padding: 0 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-nav {
        position: static;
        transform: none;
        margin: 0 auto 15px;
    }

    .main-nav {
        width: 100%;
        margin-top: 1rem;
    }

    .btn-nav {
        width: 100%;
        margin: 4px 0;
        padding: 10px 20px;
    }

    .course-card {
        flex: 1 0 50%;
        max-width: 50%;
    }

    .card-img-container {
        height: 120px;
    }
}

@media (max-width: 576px) {
    h2 {
        font-size: 24px;
    }

    .course-card {
        flex: 1 0 100%;
        max-width: 100%;
    }

    .card-body span {
        font-size: 0.9rem;
    }
}

/* Animations */
@keyframes zoomIn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Hover Effects */
.course-card:hover .card-img-top {
    transform: scale(1.05);
}

/* Utility Classes */
.text-center {
    text-align: center !important;
}
.pt-3 {
    padding-top: 1rem !important;
}
.py-3 {
    padding: 1rem 0 !important;
}

/* NAVBAR RESPONSIVENESS */

@media (max-width: 768px) {
    .site_layout {
        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(100vh, auto); 
        grid-template-areas: 
            "block1"
            "block2";
        gap: 0; 
    }
    
    .site_layout_navbar {
        height: auto; 
        min-height: unset; 
        padding-bottom: 0.5rem; 
    }
}